.playerState {
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  display: flex;
  position: relative;
  z-index: 3;
  top: -50px;
  width: 700px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  .currentPlayer {
    color: #00ff37;
    animation: currentPlayerText 1.4s ease-in infinite;
  }

  .point {
    position: relative;
    top: -50px;
    font-size: 65px;
    color: rgb(238, 4, 199);
    text-shadow: 0 0 9px rgb(238, 4, 199);
  }

  h1 {
    font-size: 40px;
  }
}

.gameState {
  h3 {
    position: absolute;
    // top: -1px;
    left: 51%;
    font-size: 63px;
    transform: translateX(-50%);
    text-shadow: 0 0 5px #c7edf8;
    color: yellow;
  }
}

.show_winner {
  .playerState {
    display: none;
  }

  .winner_notification {
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
    display: flex;
    position: relative;
    z-index: 3;
    top: -120px;
  }
}

@keyframes currentPlayerText {
  0% {
    text-shadow: 0 0 3px yellow;
  }

  100% {
    text-shadow: 0 0 13px yellow;
  }
}
