:root {
  --layer-color: rgba(20, 20, 20, 0.6);
  --card-color: rgb(23, 23, 23);
  --card-height: 150px;
  --shadow-color: rgb(38, 149, 212);
  --gap: 8px;

  // 2695D4
}

$moon: #c7edf8;
$moon-shade: #b0e3f4;
$cubic: cubic-bezier(0.39, 0.575, 0.565, 1);

.move-shadow {
  // animation: name duration timing-function delay iteration-count direction
  //   fill-mode;
  animation: moveShadow 0.5s $cubic infinite alternate;
}

@keyframes moveShadow {
  0% {
    box-shadow: 0 0 15px var(--shadow-color);
  }

  100% {
    box-shadow: 0 0 35px #00ff37;
  }
}

.card {
  position: relative;
  background-color: var(--card-color);
  border-radius: 10px;
  height: var(--card-height);
  width: var(--card-height);
  box-shadow: 0 0 30px var(--shadow-color);
}

.choosing-state {
  box-shadow: 0 0 30px #ffff00;
}

.card:hover {
  &::before {
    opacity: 1;
  }
}

.card::before,
.card::after {
  border-radius: inherit;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 500ms;
}

.card::before {
  background: radial-gradient(
    300px circle at var(--mouse-x) var(--mouse-y),
    rgba(238, 4, 199, 0.09),
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    225px circle at var(--mouse-x) var(--mouse-y),
    rgba(238, 4, 199, 0.5),
    transparent 40%
  );
  z-index: 1;
}

.big-card {
  cursor: default;
  grid-row: 1 / span 2;
  height: calc(var(--card-height) * 2 + 8px);
  width: calc(var(--card-height) + 4px);
  position: relative;

  .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    width: 80%;
    filter: drop-shadow(0 0 10px var(--shadow-color));
  }
}

.card:nth-child(1) {
  @extend .big-card;
  border-radius: calc(var(--card-height) * 2 + 8px) 19px 19px
    calc(var(--card-height) * 2 + 8px);
  z-index: 2;
  // box-shadow: 0 0 10px #ffff00;
}

.card:nth-child(12) {
  @extend .big-card;
  border-radius: 19px calc(var(--card-height) * 2 + 8px)
    calc(var(--card-height) * 2 + 8px) 19px;
  grid-column: 7 / span 8;
  z-index: 0;
  // clip-path: circle(153px at 104% 0%);
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  inset: 2px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  text-align: center;
  // cursor: pointer;
}
