:root {
  --layer-color: rgba(20, 20, 20, 0.6);
  --gap: 8px;
}

.game {
  // align-items: center;
  background: url(../Board/nightmoon.jpg) no-repeat;
  background-position: 71%;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding: 0px;
  overflow: hidden;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--layer-color);
    z-index: 1;
  }
}

#board {
  // margin-left: 32px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--gap);
  position: relative;
  z-index: 3;
  // margin: 0 auto;
}

#board:hover > .card::after {
  opacity: 1;
}
